.inset{
    border: 5px;
    border-style: inset ;
    border-width: 5px;
    outline: inset darkgoldenrod;
}
.outset{
    border: 5px;
    border-style: outset;
    border-width: 5px;
    margin: 20px;
    border-color:pink;
    outline: 1em dotted blue;
}
.scroll{
    overflow: scroll;
    width: 100px;
    height: 100px;
   
}