*{
    margin: 0;
    padding: 0;
}
img{
    position: relative;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20em;
    animation-name: heart;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: 2s;
    transition-duration: 2s;
}
@keyframes heart {
    0%{
        width: 100px;
    height: 100px;
    }

    50%{
        width: 120px;
        height: 120px;
    }
    100%{
        width: 100px;
        height: 100px;
    }
    
}